<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="navbar-nav navbar-right">
      <ul class="nav navbar-nav">
        <%= button_to 'login', login_path, method: :get, class:'btn btn-sm ' %>
        <%= button_to 'register', new_user_path, method: :get, class:'btn btn-sm '  %>
      </ul>
    </div>
  </div>
</nav>
