<div class="container-fluid">
  <%= form_tag '', html: { class: 'form'}  do %>

  <div class="form-row">
    <div class="col-4">
      <%= number_field_tag :email, in: 0..item.stockAmount, step: 1, class: "form-control-sm" %>
      <%= form.number_field :cant, in: 0..item.stockAmount, step: 1, class: "form-control-sm"%>

    </div>
    <div class="col">
    <%= submit_tag 'Add to order', class:'btn btn-sm btn-primary' %>
    <% end %>
    </div>

  </div>

</div>
